@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  
   <div id="secondary" class="widget-area fancy-container lightred" role="complementary">
                <aside id="text-5" class="widget widget_text">
                    
<h1 class="widget-title">Follow Me</h1>

                     <a href="http://stackexchange.com/users/422979">
<img src="http://stackexchange.com/users/flair/422979.png" width="208" height="58" alt="profile for ashutosh raina on Stack Exchange, a network of free, community-driven Q&A sites" title="profile for ashutosh raina on Stack Exchange, a network of free, community-driven Q&A sites">
</a>  



                    <div class="textwidget logos">
                     <a href="https://twitter.com/ashutoshraina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);"><img src="/stylesheets/images/twitter.png"></a>
                     <a href="http://stackoverflow.com/users/802070/ashutosh-raina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://stackoverflow.com']);"><img src="/stylesheets/images/stackoverflow.png"></a>
                    <a href="http://www.linkedin.com/pub/ashutosh-raina/11/165/328" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.linkedin.com']);"><img src="/stylesheets/images/linkedin.png"></a>                      
                    <a href="https://github.com/ashutoshraina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://github.com']);"><img src="/stylesheets/images/github.png"></a>
                       
                  
                    </div>
                  
                
                
            </div>
            <!-- #secondary .widget-area -->
 <div class="fancy-container lightblue">

  <p>I am a human.</p>
  <p>I am a developer.</p>
  <p>I listen.</p>
  <p>I speak.</p>

  <p>I love french fries</p>
    <p>Hanging around waitiing to do foo at bar</p>

  </div>
        </div>
