@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
     <h2><a href="resume.pdf">Resume</a><h2>
  </div>
  </header>



  
   <div id="secondary" class="widget-area fancy-container lightred" role="complementary">
                <aside id="text-5" class="widget widget_text">
                    
<h1 class="widget-title">Follow Me</h1>

                     <a href="http://stackexchange.com/users/422979">
<img src="http://stackexchange.com/users/flair/422979.png" width="208" height="58" alt="profile for ashutosh raina on Stack Exchange, a network of free, community-driven Q&A sites" title="profile for ashutosh raina on Stack Exchange, a network of free, community-driven Q&A sites">
</a>  


                    <div class="textwidget logos">
                     <a href="https://twitter.com/ashutoshraina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);"><img src="/stylesheets/images/twitter.png"></a>
                     <a href="http://stackoverflow.com/users/802070/ashutosh-raina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://stackoverflow.com']);"><img src="/stylesheets/images/stackoverflow.png"></a>
                    <a href="http://www.linkedin.com/pub/ashutosh-raina/11/165/328" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.linkedin.com']);"><img src="/stylesheets/images/linkedin.png"></a>                      
                    <a href="https://github.com/ashutoshraina" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://github.com']);"><img src="/stylesheets/images/github.png"></a>
                    </div>
                       
                       <div>
                  <p> I am a human. </p> 
                  <p> I am a developer. </p>
                  <p> I love french fries, music and lately coffee.</p>
                  <p> Hanging around waitiing to do foo at bar </p>
</div>
                    </div>
                                  
            </div>

            <div class="fancy-container lightblue">

  <section>
  <p>
  Before becoming a grad student I was a developer for 5 years.
  </p>

  <p>
  I am currently a graduate student in Computer Science at the University of California, Santa Caruz. My research areas are in the field of distributed computing. 
  
  I am currently working on Lineage Driven Fault Injection with <a href="https://people.ucsc.edu/~palvaro/">Dr. Peter Alavaro.</a> 
  Our aim is to find automate discovery of faults in a distributed systems using data lineage. We apply the concepts of databases to distributed systems.

  Read more about L.D.F.I. <a href="https://people.ucsc.edu/~palvaro/molly.pdf">Molly</a> and <a href="https://people.ucsc.edu/~palvaro/socc16.pdf">L.D.F.I. at Netflix</a>.
  <p>
  
  

  </section>

  </div>

        </div>
