@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

    <p>I love french fries</p>

    <p>Hanging around waitiing to do foo at bar</p>

  </div>
